.form-control {
	width: 20%;
	margin-top: .6em;
}

.radioGrp {
	width: 30%;
	margin: 1em auto;
}

.radioBtn {
	margin-left: 2em;
}

.mush-card {
	width: 60%;
	margin: 0 auto .2em auto;
	border: 1px solid black;
	padding: 0 2em 0 2em;
}